* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

header {
  background-color: hsl(217, 28%, 15%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;

  .logo {
    padding-left: 5vw;

    img {
      width: 8rem;
    }
  }

  ul {
    list-style-type: none;
    padding-right: 5vw;

    li {
      display: inline-block;
      width: 5rem;

      a {
        text-decoration: none;
        color: white;
        font-size: 0.8rem;
        color: #aaa;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

main {
  background-color: hsl(217, 28%, 15%);
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
  background-image: url(./images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;

  img {
    width: 35rem;
  }

  h1 {
    max-width: 55%;
    line-height: 3rem;
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }

  p {
    max-width: 55%;
    color: #aaa;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }

  a {
    padding: 1rem 5rem;
    border-radius: 2rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    background-image: linear-gradient(
      90deg,
      hsl(176, 68%, 64%),
      hsl(198, 60%, 50%)
    );

    &:hover {
      background-image: linear-gradient(
        90deg,
        hsl(176, 70%, 80%),
        hsl(198, 61%, 68%)
      );
    }
  }
}

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  min-height: 85vh;
  align-items: center;
  justify-content: center;
  background-color: hsl(218, 28%, 13%);
  color: white;
  padding: 5% 15%;

  .card1,
  .card2,
  .card3,
  .card4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 1.4rem;
      margin: 2rem 0 1rem 0;
    }

    p {
      font-size: 1rem;
      line-height: 1.5rem;
      color: #aaa;
    }

    img {
      width: 5rem;
    }
  }
}

.productive {
  display: flex;
  color: white;
  background-color: hsl(218, 28%, 13%);
  gap: 3rem;
  justify-content: center;
  align-items: center;
  min-height: 60vh;

  .img {
    width: 50%;
    padding-left: 5rem;

    img {
      width: 100%;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5rem;
    width: 50%;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
      line-height: 1.5rem;
      color: #aaa;
      margin: 0.5rem 0;
    }

    .link {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      border-bottom: 1px solid hsl(176, 68%, 64%);
      margin-top: 1.5rem;
      width: 10.9rem;

      &:hover {
        border-bottom: 1px solid white;

        & p {
          cursor: pointer;
          background-color: white;
        }

        & a {
          color: white;
        }
      }

      a {
        text-decoration: none;
        color: hsl(176, 68%, 64%);
        display: inline-block;
        padding-bottom: 0.5rem;
        padding-right: 0.5rem;
      }

      p {
        padding: 0.5rem 0.15rem;
        background-color: red;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        background-color: hsl(176, 68%, 64%);
      }

      i {
        color: hsl(218, 28%, 13%);
      }
    }
  }
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  min-height: 75vh;
  background-color: hsl(218, 28%, 13%);
  color: white;
  background-image: url(./images/bg-quotes.png);
  background-repeat: no-repeat;
  background-size: 5%;
  background-position: top 15% left 8%;

  .first,
  .second,
  .third {
    width: 25%;
    height: 29%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem 1rem;
    background-color: hsl(219, 30%, 18%);
    margin-top: -5rem;
    border-radius: 0.2rem;
    box-shadow: 1rem 1rem 0 0.1rem hsl(215, 25%, 14%);

    & p:first-child {
      margin-bottom: 1rem;
    }

    & > p {
      font-size: 0.9rem;
      line-height: 1.4rem;
      color: #aaa;
    }

    .flex {
      display: flex;
      align-items: center;
      font-size: 0.7rem;

      img {
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
      }

      span {
        display: block;
        font-weight: 700;
        font-size: 0.7rem;
        color: white;
        margin-bottom: 0.3rem;
      }

      p {
        font-size: 0.7rem;
        color: #aaa;
      }
    }
  }
}

.signup {
  width: 50%;
  margin: auto;
  background-color: hsl(218, 28%, 13%);
  min-height: 30vh;
  border-radius: 0.5rem;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 5vw;
  margin-top: -15vh;
  box-shadow: 2px 2px 1px 3px rgba($color: black, $alpha: 0.2);

  h2 {
    font-size: 1.7rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 0.8rem;
    line-height: 1.4rem;
    color: #aaa;
    margin-bottom: 0.5rem;
  }

  form {
    width: 100%;
    display: flex;
    justify-content: space-between;

    input[type="email"] {
      width: 68%;
      height: 2.5rem;
      border-radius: 1.5rem;
      padding: 0 1rem;
      border: none;
    }

    input[type="button"] {
      width: 28%;
      height: 2.5rem;
      border-radius: 1.5rem;
      font-size: 0.8rem;
      border: none;
      background-image: linear-gradient(
        90deg,
        hsl(176, 68%, 64%),
        hsl(198, 60%, 50%)
      );
      color: white;

      &:hover {
        background-image: linear-gradient(
          90deg,
          hsl(176, 70%, 80%),
          hsl(198, 61%, 68%)
        );
        cursor: pointer;
      }
    }
  }
}

footer {
  background-color: hsl(216, 53%, 9%);
  position: relative;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: #aaa;

  .footergrid {
    display: grid;
    grid-template-columns: 22vw 13vw 10vw 10vw 11vw;
    justify-content: center;
    align-items: flex-start;
    font-size: 0.8rem;
    gap: 2rem;
    min-height: 40vh;
    margin-top: 2rem;

    .logo {
      grid-column: 1 / span 5;
      align-self: flex-end;

      img {
        width: 9rem;
      }
    }

    .one {
      display: flex;
      align-items: flex-start;
      gap: 1rem;

      & img {
        width: 0.7rem;
      }
    }

    .two .phone,
    .two .email {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 0.3rem;

      img {
        width: 1rem;
      }
    }

    .three,
    .four {
      ul {
        list-style-type: none;

        li {
          margin-bottom: 1rem;

          a {
            color: #aaa;
            text-decoration: none;

            &:hover {
              font-weight: 900;
            }
          }
        }
      }
    }

    .five {
      color: white;
      display: flex;
      justify-content: space-evenly;

      p {
        padding: 0.3rem 0.5rem 0.2rem 0.5rem;
        border: 1px solid white;
        border-radius: 50%;

        &:hover {
          border: 1px solid hsl(176, 68%, 64%);
          cursor: pointer;

          i {
            color: hsl(176, 68%, 64%);
          }
        }
      }
    }
  }
}

.attribution {
  color: white;
  font-size: 11px;
  text-align: center;
  background-color: hsl(218, 28%, 13%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1279px) {
  .testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    min-height: 75vh;
    background-color: hsl(218, 28%, 13%);
    color: white;
    background-image: url(./images/bg-quotes.png);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: top 15% left 2%;

    .first,
    .second,
    .third {
      width: 30%;
      height: 27%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 1rem 1rem;
      background-color: hsl(219, 30%, 18%);
      margin-top: -5rem;
      border-radius: 0.2rem;
      box-shadow: 0.5rem 0.5rem 0 0.1rem hsl(215, 25%, 14%);

      & p:first-child {
        margin-bottom: 1rem;
      }
    }
  }

  .signup {
    width: 60%;
    margin: auto;
    background-color: hsl(218, 28%, 13%);
    min-height: 30vh;
    border-radius: 0.5rem;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 3vw;
    margin-top: -15vh;
    box-shadow: 2px 2px 1px 3px rgba($color: black, $alpha: 0.2);
  }

  footer {
    .footergrid {
      display: grid;
      grid-template-columns: 28vw 17vw 10vw 10vw 13vw;
      justify-content: center;
      align-items: flex-start;
      font-size: 0.8rem;
      gap: 2rem;
      min-height: 40vh;
    }
  }
}

@media (max-width: 1023px) {
  main {
    img {
      width: 30rem;
    }

    h1 {
      max-width: 70%;
      line-height: 2.8rem;
      font-size: 2.2rem;
      margin-bottom: 0.5rem;
    }

    p {
      max-width: 80%;
      color: #aaa;
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 0.5rem;
    }
  }

  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: hsl(218, 28%, 13%);
    color: white;
    padding: 5% 10%;
  }

  .productive {
    display: flex;
    color: white;
    background-color: hsl(218, 28%, 13%);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    min-height: 80vh;

    .img {
      width: 50%;
      padding-left: 2rem;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: 2rem;
      width: 50%;
    }
  }

  .testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    min-height: 75vh;
    background-color: hsl(218, 28%, 13%);
    color: white;
    background-image: url(./images/bg-quotes.png);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: top 15% left 1%;

    .first,
    .second,
    .third {
      width: 30%;
      height: 35%;
      margin-top: -10rem;
    }
  }

  .signup {
    width: 70%;
    margin: auto;
    background-color: hsl(218, 28%, 13%);
    min-height: 30vh;
    border-radius: 0.5rem;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem 3vw;
    margin-top: -15vh;
    box-shadow: 2px 2px 1px 3px rgba($color: black, $alpha: 0.2);
  }

  footer {
    .footergrid {
      display: grid;
      grid-template-columns: 29vw 18vw 9vw 9vw 13vw;
      justify-content: center;
      align-items: flex-start;
      font-size: 0.8rem;
      gap: 1.5rem;
      min-height: 40vh;
    }
  }
}

@media (max-width: 767px) {
  main {
    background-color: hsl(217, 28%, 15%);
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    color: white;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
    background-image: url(./images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;

    img {
      width: 25rem;
    }

    h1 {
      max-width: 80%;
      margin-bottom: 1rem;
    }

    p {
      max-width: 80%;
      margin-bottom: 1rem;
    }
  }

  .icons {
    display: grid;
    grid-template-columns: 80vw;
    gap: 5rem;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: hsl(218, 28%, 13%);
    color: white;
  }

  .productive {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: hsl(218, 28%, 13%);
    gap: 2rem;
    min-height: 100vh;
    justify-content: center;

    .img {
      width: 80vw;
      padding-left: 0rem;
      margin-top: 3rem;

      & > img {
        width: 100%;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 8rem 0;
      width: 80vw;
      height: 40vh;
      margin: auto;

      h2 {
        font-size: 2rem;
        padding-right: 0;
      }

      p {
        padding-right: 0;
      }

      .link {
        display: flex;
        align-items: flex-end;
        width: 10.9rem;
      }
    }
  }

  .testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    min-height: 120vh;
    background-color: hsl(218, 28%, 13%);
    color: white;
    background-image: url(./images/bg-quotes.png);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: top 6.5rem left 9%;
    padding-top: 7.5rem;

    .first,
    .second,
    .third {
      width: 80vw;
      height: 15%;
      margin-top: 0rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 1rem 1rem;
      background-color: hsl(219, 30%, 18%);
    }
  }

  .signup {
    width: 80vw;
    margin: auto;
    background-color: hsl(218, 28%, 13%);
    min-height: 40vh;
    border-radius: 0.5rem;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 5vw;
    margin-top: -20vh;
    margin-bottom: 3rem;

    p {
      font-size: 0.8rem;
    }

    form {
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      input[type="email"] {
        width: 100%;
        height: 2.5rem;
        border-radius: 1.5rem;
        padding: 0 1rem;
        margin-bottom: 1rem;
      }

      input[type="button"] {
        width: 100%;
        height: 2.5rem;
        border-radius: 1.5rem;
        padding: 0 1rem;
        font-size: 0.8rem;
        background-image: linear-gradient(
          90deg,
          hsl(176, 68%, 64%),
          hsl(198, 60%, 50%)
        );
        color: white;
      }
    }
  }

  footer {
    background-color: hsl(216, 53%, 9%);
    position: relative;
    min-height: 70vh;
    display: flex;
    flex-direction: column;

    .footergrid {
      display: grid;
      grid-template-columns: 80vw;
      justify-content: center;
      align-items: flex-start;
      font-size: 0.8rem;
      gap: 1rem;
      min-height: 55vh;

      .logo {
        grid-column: 1 / span 1;
        align-self: flex-end;

        img {
          width: 8rem;
        }
      }

      .one {
        display: flex;
        align-items: flex-start;
        gap: 1rem;

        & img {
          width: 0.7rem;
        }
      }

      .two .phone,
      .two .email {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 0.3rem;

        img {
          width: 0.8rem;
        }
      }

      .three,
      .four {
        ul {
          list-style-type: none;

          li {
            margin-bottom: 1rem;

            a {
              text-decoration: none;

              &:hover {
                font-weight: 900;
              }
            }
          }
        }
      }

      .five {
        display: flex;
        justify-content: space-evenly;
        width: 30%;
        margin: auto;
        margin-bottom: 2rem;
      }
    }
  }
}

@media (max-width: 500px) {
  header {
    background-color: hsl(217, 28%, 15%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;

    .logo {
      padding-left: 5vw;

      img {
        width: 7rem;
      }
    }

    ul {
      list-style-type: none;
      padding-right: 5vw;

      li {
        display: inline-block;
        width: 4rem;
        text-align: right;
      }
    }
  }

  main {
    background-color: hsl(217, 28%, 15%);
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    color: white;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
    background-image: url(./images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;

    img {
      width: 20rem;
    }

    h1 {
      max-width: 85%;
      font-size: 1.8rem;
      line-height: 2.3rem;
    }

    p {
      max-width: 85%;
    }
  }

  .icons {
    display: grid;
    grid-template-columns: 80vw;
    gap: 5rem;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: hsl(218, 28%, 13%);
    color: white;
  }

  .productive {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: hsl(218, 28%, 13%);
    gap: 2rem;
    min-height: 120vh;
    justify-content: center;
  }

  .testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    min-height: 130vh;
    background-color: hsl(218, 28%, 13%);
    color: white;
    background-image: url(./images/bg-quotes.png);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: top 3rem left 9%;
    padding-top: 4rem;
    padding-bottom: 10rem;

    .first,
    .second,
    .third {
      width: 80vw;
      height: 18%;
      margin-top: 0rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 1rem 1rem;
      background-color: hsl(219, 30%, 18%);
    }
  }

  .signup {
    min-height: 50vh;
    margin-top: -25vh;
    margin-bottom: 3rem;

    h2 {
      line-height: 2.2rem;
    }
  }

  footer {
    .footergrid {
      min-height: 40vh;

      .five {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        margin: auto;
        margin-bottom: 2rem;
      }
    }
  }
}

@media (orientation: landscape) and (max-width: 916px) {
  header {
    height: 15vh;
  }

  main {
    img {
      width: 35rem;
    }

    h1 {
      margin-bottom: 1.5rem;
    }

    p {
      margin-bottom: 1.5rem;
    }

    a {
      padding: 1rem 5rem;
    }
  }

  .testimonials {
    min-height: 170vh;
    background-position: top 6.5rem left 9%;
    padding-bottom: 10rem;
    padding-top: 10rem;
  }

  .signup {
    width: 80%;
    min-height: 60vh;
    margin-top: -30vh;
  }

  footer {
    min-height: 80vh;

    .footergrid {
      min-height: 60vh;
      margin-top: 3rem;
    }
  }
}
